
<h1> Estas loggueado correctamente </h1>


{{input type="text" value=name}}

<button {{action 'crearMovie' name on='click'}}>Crear</button><br>

{{#if model}}
  <ul>
  {{#each model as |movie|}}
    <li> {{movie.name}} -- <button {{action 'borrarMovie' movie on='click'}}>Borrar</button></li>
  {{/each}}
  </ul>
{{else}}
No hay peliculas para mostrar

{{/if}}